CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - --sysroot=/usr/x86_64-w64-mingw32
    - -I/home/abaxoth/proj/BigBrother/firewall/include/third-party/WinDivert-2.2.2-A/include
  Remove:
    - -mwindows
